@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.home-first-sect {
    width: 100%;
    height: 600px;

    .slider {
        width: 100%;
        position: relative;

        swiper-container {
            width: 100%;
            height: 100%;

            swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }

        .slider-items {
            width: 100%;
            height: 100%;
            background-color: #1F1F1F80;
            color: white;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;

            .item-text {
                width: 905px;
                height: 252px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                z-index: 1;
                top: 18%;
                gap: 16px;

                h2 {
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 147%;
                    margin: 0;
                }

                p {
                    font-size: 20px;
                    line-height: 147%;
                    text-align: center;
                    margin: 0;
                }

                .more-btn {
                    background-color: var(--primary-500);
                    border: 1px solid var(--primary-500);
                    color: white;
                    padding: 10px 16px;
                    border-radius: 60px;
                    font-size: 16px;
                    font-weight: 500;
                    transition: all 0.2s ease;

                    &:hover {
                        background-color: var(--primary-600);
                        border-color: var(--primary-600);
                    }
                }
            }
        }

        .slider-item-bottom {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;

            .count-box {
                height: 164px;
                position: absolute;
                z-index: 1;
                bottom: 30px;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 26px;

                text-align: center;
                background-color: #8C8C8C59;
                backdrop-filter: blur(12px);
                -webkit-backdrop-filter: blur(12px); // Safari üçün
                box-shadow:
                    0px 1px 8px 0px #0000001A,
                    0px 0px 2px 0px #36363662,
                    0px 0px 8px 0px #f2f2f269 inset,
                    0px 0px 0px 1px #a6a6a635 inset,
                    -2px -2px 0.5px -2px #262626 inset,
                    2px 0px 0.5px -2px #262626 inset,
                    3px 3px 0.5px -3.5px #ffffff inset;

                padding: 0 50px;

                .box {
                    width: 221px;
                    height: 129px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;
                    padding-right: 16px;
                    border-right: 1px solid #FFFFFF;
                    color: white;

                    &:last-child {
                        border: none;
                        padding-right: 0;
                    }

                    p {
                        font-weight: 600;
                        font-size: 40px;
                        margin: 0;
                    }

                    span {
                        font-size: 20px;

                        // font-weight: 500;
                    }
                }
            }
        }
    }
}

@media (max-width:1280px) {
    .home-first-sect {
        height: fit-content;

        .slider {
            .slider-items {
                .item-text {
                    top: 13%;

                }
            }

            .slider-item-bottom {
                .count-box {
                    height: 120px;

                    .box {
                        width: 170px;
                        height: 100px;

                        p {
                            font-size: 30px;
                        }

                        span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1024px) {
    .home-first-sect {
        height: fit-content;

        .slider {
            .slider-items {
                .item-text {
                    top: 10%;
                    gap: 10px;

                    h2 {
                        font-size: 30px;
                        line-height: 127%;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }

        }
    }
}

@media (max-width:769px) {
    .home-first-sect {
        height: fit-content;

        .slider {
            .slider-items {
                .item-text {
                    width: 80%;
                    gap: 7px;

                    h2 {
                        font-size: 25px;
                    }

                    p {
                        font-size: 14px;
                    }

                    .more-btn {
                        font-size: 14px;
                    }
                }
            }

            .slider-item-bottom {
                .count-box {
                    height: 100px;
                    bottom: 10px;

                    .box {
                        width: 130px;
                        height: 80px;
                        gap: 5px;

                        p {
                            font-size: 25px;
                        }

                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}