.home-scnd-sect{
    .scnd-section-body{
        .data-box{
            .box-img{
                .circle{
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background-color: var(--primary-100);
                }
            }
        }
    }
}