<section class="home-third-sect">
    <div class="container-fluid">
        <div class="third-sect-body row justify-content-between align-items-start g-1">
            <div class="third-sect-box news col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-7">
                <div class="box-head">
                    <p>Xəbərlər</p>
                    <a href="#" target="_blank">Hamısına bax</a>
                </div>

                <div class="box-body d-flex">
                    <div class="box-body-left">
                        <div class="news-box">
                            <div class="image">
                                <img loading="lazy" [src]="newsData[0].image" alt="Image">
                            </div>
                            <div class="news-box-body">
                                <div class="news-mini-title">
                                    <span class="box-date">{{newsData[0].date}}</span>
                                    •
                                    <span class="category">{{newsData[0].category}}</span>
                                </div>

                                <p class="news-title">{{newsData[0].title}}</p>

                                <span class="news-body-text">{{newsData[0].text.slice(0,131)}}...</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-body-right">
                        @for (item of newsData.slice(1,5); track $index) {

                        <div class="news-mini-box">
                            <div class="image">
                                <img loading="lazy" [src]="item.image" alt="Image">
                            </div>

                            <div class="news-mini-box-body">
                                <span class="news-mini-date">{{item.date}}</span>

                                <p class="news-mini-box-title">{{item.title.slice(0,42)}}..</p>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>

            <div class="third-sect-box announcement col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-4">
                <div class="box-head">
                    <p>Elanlar</p>
                    <a href="#" target="_blank">Hamısına bax</a>
                </div>

                <div class="box-body announcement-box d-flex">
                    @for (item of announcementData; track $index) {
                    <div class="announcement-card">
                        <span class="date">{{item.date}}</span>
                        <span class="text">{{item.title.slice(0,40)}}..</span>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>