<div class="header">
    <div class="header-top">
        <div class="left-side">
            <img class="logo" [src]="logo" alt="Logo">

            <div class="contacts">
                <div class="contact_item">
                    <img class="header-top-icons" [src]="telIcon" alt="Phone">
                    <span>+994 12 000 00 00</span>
                </div>

                <div class="contact_item">
                    <img class="header-top-icons" [src]="smsIcon" alt="Mail">
                    <span>info@edu.az</span>
                </div>
            </div>
        </div>

        <div class="right-side">
            <button class="btn search-btn">
                <img [src]="specIcon" alt="Search">
            </button>

            <div class="lang-btns">
                <button class="btn active">AZ</button>
                <button class="btn">RU</button>
                <button class="btn">EN</button>
            </div>

            <button class="btn canvas-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">
                <img [src]="bars" alt="bars">
            </button>
        </div>
    </div>

    <div class="header-bottom">
        <div class="nav">
            @for (item of navbarItems; track $index) {
            <a class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                [routerLink]='item.link'>{{item.name}}</a>
            }
        </div>

        <div class="user-data">
            @if(!user){
            <div class="user-prop d-flex align-items-center gap-2 pe-3">
                <div class="user-circle">
                    NS
                </div>
                <span class="user">Nəzrin Səlimzadə</span>
            </div>
            }@else{
            <button class="btn login-btn">Daxil ol</button>
            <button class="btn register-btn">Qeydiyyat</button>
            }
        </div>
    </div>
</div>

<!-- !=========================CANVAS========================== -->

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Uniser Training Center</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="nav d-flex flex-column">
            @for (item of navbarItems; track $index) {
            <a data-bs-dismiss="offcanvas" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                [routerLink]='item.link'>{{item.name}}</a>
            }
        </div>

        <div class="user-data d-flex gap-2">
            @if(!user){
            <div class="user-prop d-flex align-items-center gap-2 pe-3">
                <div class="user-circle">
                    NS
                </div>
                <span class="user">Nəzrin Səlimzadə</span>
            </div>
            }@else{
            <button class="btn login-btn">Daxil ol</button>
            <button class="btn register-btn">Qeydiyyat</button>
            }
        </div>
    </div>
</div>