.events-card {
    .card {
        width: 345px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;

        .img-top {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 16px;
            color: white;
            display: flex;
            justify-content: space-between;
            font-weight: 300;
            font-size: 14px;

            .time-counter {
                padding: 4px 10px;
                border-radius: 100px;
                background-color: #8C8C8C59;
                backdrop-filter: blur(12px);
                -webkit-backdrop-filter: blur(12px); // Safari üçün
                box-shadow:
                    0px 1px 8px 0px #0000001A,
                    0px 0px 2px 0px #36363662,
                    0px 0px 8px 0px #f2f2f269 inset,
                    0px 0px 0px 1px #a6a6a635 inset,
                    -2px -2px 0.5px -2px #262626 inset,
                    2px 0px 0.5px -2px #262626 inset,
                    3px 3px 0.5px -3.5px #ffffff inset;
            }

            .event-type {
                width: fit-content;
                background-color: var(--secondary-400);
                padding: 4px 12px;
                border-radius: 80px;
            }
        }

        .card-body {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .card-title {
                color: var(--color-500);
                font-weight: 600;
                font-size: 1rem;
            }

            .card-text {
                display: flex;
                flex-direction: column;
                gap: 14px;

                span {
                    font-weight: 500;
                    color: var(--color-400);
                    font-size: 14px;
                }
            }

            .card-bottom {
                margin: 5px 0;
                .price {
                    font-weight: 500;
                    font-size: 20px;
                    color: var(--secondary-500);
                }
            }
        }
    }
}