.footer{
    border-top: 1px solid #E6E8EB;
    .footer-body{
        color: var(--color-400);
        .footer-top{

        }

        .footer-bottom{
            color: #62748E;
            font-weight: 400;
            font-size: 14px;
        }
    }
}