<div class="footer">
    <div class="footer-body">
        <div class="footer-top">
            <div class="left-side">
                <img [src]="logo" alt="Logo">

                <p>
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua.
                </p>

                <a href="https://www.facebook.com/" target="_blank">
                    <img [src]="facebookIcon" alt="FacebookLink">
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <img [src]="instIcon" alt="InstagramLink">
                </a>
            </div>

            <div class="center">
                <p class="mini-title">Sürətli keçidlər</p>

                <div class="fast-links">
                    <ul>
                        @for (item of fastLinks; track $index) {
                        <li>
                            <a [routerLink]="item.link">{{item.name}}</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="right-side">
                <p class="mini-title">Contact Us</p>

                <div class="contact-us">
                    <div class="contactus-item">
                        <img [src]="locIcon" alt="Location">
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                    <div class="contactus-item">
                        <img [src]="telIcon" alt="Phone">
                        <span>+994 12 000 00 00</span>
                    </div>
                    <div class="contactus-item">
                        <img [src]="smsIcon" alt="Mail">
                        <span>info@eduaz</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            © 2026 Edu. Bütün haqları qorunur
        </div>
    </div>
</div>