.home-reviews-sect {
    width: 100%;
    height: fit-content;
    margin: 100px 0;

    .reviews-body {

        .sect-head {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 100px;

            .sect-title {
                position: relative;

                p {
                    font-weight: 600;
                    font-size: 30px;
                    margin: 0;
                    color: var(--color-500);
                }

                .circle {
                    position: absolute;
                    top: 0;
                    right: -15px;
                    width: 45px;
                    z-index: -1;
                    height: 45px;
                    border-radius: 50%;
                    background-color: var(--primary-100);
                }
            }

            span {
                margin-top: 30px;
                color: var(--color-300);
                font-weight: 500;
                font-size: 20px;
            }
        }

        .sect-body {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 400px;

            .body-left-side {
                width: 405px;
                height: 405px;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                }

                .users {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 188px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    gap: 170px;

                    .user-card {
                        display: flex;
                        align-items: center;
                        gap: 16px;

                        .user-image {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;

                            img {
                                width: 100%;
                                height: 100%;
                            }

                        }

                        &:nth-child(2) {
                            position: absolute;
                            left: 45px;

                            .user-image {
                                width: 80px;
                                height: 80px;
                                border-radius: 50%;
                            }
                        }

                        .user-data {
                            display: flex;
                            flex-direction: column;
                            gap: 2px;
                            white-space: nowrap;

                            .user-name {
                                font-size: 16px;
                                font-weight: 500;
                                color: var(--color-500);
                            }

                            .user-profession {
                                font-weight: 400;
                                font-size: 16px;
                                color: var(--color-300);
                            }
                        }
                    }
                }
            }

            .body-right-side {
                width: 570px;
                display: flex;
                align-items: start;
                gap: 10px;

                p {
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--color-400);
                    line-height: 147%;
                }
            }
        }
    }
}

@media (max-width:1024px) {
    .home-reviews-sect {
        margin: 50px 0;

        .reviews-body {
            .sect-head {
                margin-bottom: 50px;

                .sect-title p {
                    font-size: 24px;
                }

                span {
                    font-size: 16px;
                }
            }

            .sect-body {
                gap: 270px;

                .body-left-side {
                    width: 300px;
                    height: 300px;

                    .users {
                        left: 150px;
                        gap: 100px;

                        .user-card {
                            width: 379px;

                            .user-image {
                                width: 40px;
                                height: 40px;
                            }

                            &:nth-child(2) {
                                width: 442px;
                                left: 25px;

                                .user-image {
                                    width: 60px;
                                    height: 60px;
                                }
                            }

                            .user-data {

                                .user-name,
                                .user-profession {
                                    font-size: 14px;
                                    white-space: wrap;
                                }
                            }
                        }
                    }
                }

                .body-right-side {
                    width: 400px;

                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width:769px) {
    .home-reviews-sect {
        .reviews-body {
            .sect-body {
                flex-wrap: wrap;
                gap: 50px;

                .body-right-side {
                    width: 100%;
                    padding: 0 50px;

                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}