.home-reviews-sect {
    width: 100%;
    height: fit-content;
    margin: 100px 0;

    .reviews-body {
        padding: 0 40px;

        .sect-head {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 100px;

            .sect-title {
                position: relative;

                p {
                    font-weight: 600;
                    font-size: 30px;
                    margin: 0;
                    color: var(--color-500);
                }

                .circle {
                    position: absolute;
                    top: 0;
                    right: -15px;
                    width: 45px;
                    z-index: -1;
                    height: 45px;
                    border-radius: 50%;
                    background-color: var(--primary-100);
                }
            }

            span {
                margin-top: 30px;
                color: var(--color-300);
                font-weight: 500;
                font-size: 20px;
            }
        }

        .sect-body {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .body-left-side {
                position: relative;

                .users {
                    position: absolute;
                    top: 0;
                    left: 50px;
                }
            }

            .body-right-side{
                width: 45%;
                display: flex;
                align-items: start;
                gap: 10px;

                p{
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--color-400);
                    line-height: 147%;
                }
            }
        }
    }
}