.home-fourth-section {
    margin-bottom: 70px;

    .container-fluid {
        padding: 0 20px;

        .projects-sect-body {
            .projects-sect-head {
                width: 100%;

                p {
                    font-weight: 600;
                    font-size: 30px;
                    color: var(--color-500);
                }

                a {
                    font-weight: 500;
                    font-size: 16px;
                    color: var(--primary-500);
                    transition: all 0.2s ease;

                    &:hover {
                        color: var(--primary-600);
                    }
                }
            }

            .projects {
                width: 100%;
            }
        }
    }
}

@media (max-width:1024px) {
    .home-fourth-section {

        .projects-sect-body {
            .projects {
                justify-content: center;
            }
        }
    }
}